<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jesusrincon1328/blob/main/Module_4_Working_with_Data_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Module_4_Working_with_Data_in_Python**

Jesús Angel Rincón Ruiz - A01793960 

Ejercicios y laboratorios del Módulo 4

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

#Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [ ]:
example1 = "Example1.txt"
file1 = open(example1,"r")

In [ ]:
file1.name

'Example1.txt'

In [ ]:
file1.mode

'r'

In [ ]:
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
type(FileContent)

str

In [ ]:
file1.close()

**Una mejor manera de abrir un archivo**

In [ ]:
with open(example1,"r") as file1:
  FileContent = file1.read()
  print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#Verificar si el archivo esta cerrado
file1.closed

True

In [ ]:
#Leer los primeros 4 caracteres

In [ ]:
with open(example1,"r") as file1:
  print(file1.read(4))

This

In [ ]:
#Leer cierto numero de caracteres

In [ ]:
with open(example1,"r") as file1:
  print(file1.read(8))
  print(file1.read(10))
  print(file1.read(2))

This is
line 1
Th
is

In [ ]:
#Leer una linea completa
with open(example1,"r") as file1:
  print(file1.readline())

This is line 1

In [ ]:
with open(example1,"r") as file1:
  print(file1.readline(20)) #solo lee la primera fila
  print(file1.read(20))

This is line 1

This is line 2
This

In [ ]:
#Se puede utilizar Ciclo For para leer

In [157]:
with open(example1,"r") as file1:
  i = 0;
  for line in file1:
    print("interaction", str(i),":", line)
    i=i+1

interaction 0 : This is line 1

interaction 1 : This is line 2

interaction 2 : This is line 3

In [159]:
#Podemos leer las lineas y guardarlas como una lista
with open(example1, "r")as file1:
  fileaslist = file1.readlines()

In [160]:
fileaslist[0]

'This is line 1 \n'

In [163]:
fileaslist[1]

'This is line 2\n'

In [164]:
fileaslist[2]

'This is line 3'

**Escribir archivos con open**

In [182]:
ejemplo2 = 'Example2.txt'
with open(ejemplo2, 'w') as writefile:
    writefile.write("This is line A")

In [183]:
with open(ejemplo2,"r") as writefile:
  print (writefile.read())

This is line A

In [184]:
#escribir varias lineas
with open(ejemplo2,"w") as writefile:
  writefile.write("This is line A\n")
  writefile.write("This is line B\n")

In [185]:
with open(ejemplo2,"r") as testwritefile:
  print(testwritefile.read())

This is line A
This is line B

In [186]:
#Lista para el ejemplo
lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [187]:
with open(ejemplo2,"w")as writefile:
  for line in lines:
    print(line)
    writefile.write(line)

This is line A

This is line B

This is line C

In [188]:
with open(ejemplo2,"r")as testwritefile:
  print(testwritefile.read())

This is line A
This is line B
This is line C

In [200]:
#toma en cuenta que al utilizar modo"w" se sobrescribe todo el archivo
with open(ejemplo2,"w")as writefile:
  writefile.write("overwrite\n")
with open(ejemplo2,"r")as testwritefile:
  print(testwritefile.read())

overwrite

**Appending Files**

In [203]:
#Escribir una nueva liea de texto a un archivo
with open(ejemplo2,"a") as testwritefile:
  testwritefile.write("Esta es la linea C\n")
  testwritefile.write("Esta es la linea D\n")
  testwritefile.write("Esta es la linea E\n")

In [206]:
with open(ejemplo2,"r") as testwritefile:
  print(testwritefile.read())

overwrite
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E

**Copy a File**

In [207]:
#copiar un archivo a otro
with open(ejemplo2,'r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [208]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

overwrite
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E

**Pandas**

In [221]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [222]:
#mostrar las primeras 3 filas
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [223]:
#obtener columna "a"
df["a"]

0    11
1    21
2    31
Name: a, dtype: int64

In [228]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [232]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df.head()

   a  b
0  1  1
1  2  1
2  1  1

In [234]:
#valores unicos en columna "a"
df['a'].unique()

array([1, 2])

In [235]:
#regresa un dataframe con unicamente las lineas donde la columnan "a" es mayor a dos
df[df['a']<2]

   a  b
0  1  1
2  1  1

Cargar y ver datos

In [252]:
import pandas as pd

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [254]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [257]:
#accesar a una columna y asignarla a un nuevo dataframe x
x=df[["Length"]]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [259]:
#obtener una columna como una serie
x=df["Length"]
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [261]:
#acceder a multiples columnas
y = df[["Artist","Length","Genre"]]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [263]:
# iloc - metodo para acceder a elementos unicos
df.iloc[0,0]

'Michael Jackson'

In [264]:
#puedes acceder a la columna utilizando el nombre
df.loc[1, "Artist"]

'AC/DC'

In [267]:
#QUIZ
#Use a variable q to store the column Rating as a dataframe

q=df[["Rating"]]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [270]:
#Assign the variable q to the dataframe that is made up of the column Released and Artist:
q=df[['Released',"Artist"]]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [271]:
#Access the 2nd row and the 3rd column of df:
df.iloc[1,2]

1980

In [272]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc["a", "Artist"]
df_new.loc["a":"d", "Artist"]

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object