<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jesusrincon1328/blob/main/Module_5_Working_with_Numpy_Arrays_%26_Simple_APIs_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importar la libreria numpy
import numpy as np

In [3]:
#Crear numpy array
a = np.array([0,1,2,3,4])
a

array([0, 1, 2, 3, 4])

In [13]:
#como en una lista podemos acceder a cada elemento a traves de square bracket
print("a[0]:",a[0])
print("a[1]:",a[1])
print("a[1]:",a[2])
print("a[1]:",a[3])
print("a[1]:",a[4])

a[0]: 0
a[1]: 1
a[1]: 2
a[1]: 3
a[1]: 4

In [14]:
#revisar la version de numpy
print(np.__version__)

1.21.6

In [16]:
#Revisar el tipo de array
type(a)

numpy.ndarray

In [18]:
#obtener el tipo de valores que contiene el numpy array con la funcion "dtype"
a.dtype

dtype('int64')

In [20]:
#realizar otro ejemplo con la funcion "dtype"
b = np.array([3.1, 11.02, 6.2, 213.2, 5.2])
b.dtype

dtype('float64')

In [21]:
#cambiar un valor en el array
c=np.array([20,1,2,3,4])
c

array([20,  1,  2,  3,  4])