<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jesusrincon1328/blob/main/Module_4_Working_with_Data_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

#Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [ ]:
example1 = "Example1.txt"
file1 = open(example1,"r")

In [ ]:
file1.name

'Example1.txt'

In [ ]:
file1.mode

'r'

In [ ]:
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
type(FileContent)

str

In [ ]:
file1.close()

**Una mejor manera de abrir un archivo**

In [ ]:
with open(example1,"r") as file1:
  FileContent = file1.read()
  print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#Verificar si el archivo esta cerrado
file1.closed

True

In [ ]:
#Leer los primeros 4 caracteres

In [ ]:
with open(example1,"r") as file1:
  print(file1.read(4))

This

In [ ]:
#Leer cierto numero de caracteres

In [ ]:
with open(example1,"r") as file1:
  print(file1.read(8))
  print(file1.read(10))
  print(file1.read(2))

This is
line 1
Th
is

In [ ]:
#Leer una linea completa
with open(example1,"r") as file1:
  print(file1.readline())

This is line 1

In [ ]:
with open(example1,"r") as file1:
  print(file1.readline(20)) #solo lee la primera fila
  print(file1.read(20))

This is line 1

This is line 2
This

In [ ]:
#Se puede utilizar Ciclo For para leer

In [157]:
with open(example1,"r") as file1:
  i = 0;
  for line in file1:
    print("interaction", str(i),":", line)
    i=i+1

interaction 0 : This is line 1

interaction 1 : This is line 2

interaction 2 : This is line 3

In [159]:
#Podemos leer las lineas y guardarlas como una lista
with open(example1, "r")as file1:
  fileaslist = file1.readlines()

In [160]:
fileaslist[0]

'This is line 1 \n'

In [163]:
fileaslist[1]

'This is line 2\n'

In [164]:
fileaslist[2]

'This is line 3'

**Escribir archivos con open**

In [182]:
ejemplo2 = 'Example2.txt'
with open(ejemplo2, 'w') as writefile:
    writefile.write("This is line A")

In [183]:
with open(ejemplo2,"r") as writefile:
  print (writefile.read())

This is line A

In [184]:
#escribir varias lineas
with open(ejemplo2,"w") as writefile:
  writefile.write("This is line A\n")
  writefile.write("This is line B\n")

In [185]:
with open(ejemplo2,"r") as testwritefile:
  print(testwritefile.read())

This is line A
This is line B

In [186]:
#Lista para el ejemplo
lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [187]:
with open(ejemplo2,"w")as writefile:
  for line in lines:
    print(line)
    writefile.write(line)

This is line A

This is line B

This is line C

In [188]:
with open(ejemplo2,"r")as testwritefile:
  print(testwritefile.read())

This is line A
This is line B
This is line C

In [200]:
#toma en cuenta que al utilizar modo"w" se sobrescribe todo el archivo
with open(ejemplo2,"w")as writefile:
  writefile.write("overwrite\n")
with open(ejemplo2,"r")as testwritefile:
  print(testwritefile.read())

overwrite

**Appending Files**

In [203]:
#Escribir una nueva liea de texto a un archivo
with open(ejemplo2,"a") as testwritefile:
  testwritefile.write("Esta es la linea C\n")
  testwritefile.write("Esta es la linea D\n")
  testwritefile.write("Esta es la linea E\n")

In [206]:
with open(ejemplo2,"r") as testwritefile:
  print(testwritefile.read())

overwrite
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E

**Copy a File**

In [207]:
#copiar un archivo a otro
with open(ejemplo2,'r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [208]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

overwrite
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E
Esta es la linea C
Esta es la linea D
Esta es la linea E

**Pandas**

In [221]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [222]:
#mostrar las primeras 3 filas
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [223]:
#obtener columna "a"
df["a"]

0    11
1    21
2    31
Name: a, dtype: int64

In [228]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23