<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-jesusrincon1328/blob/main/Semana%206/Visualizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Se cargan diferentes librerias para llevar a cabo el análisis de datos.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

**1. Descarga los datosEnlaces a un sitio externo y carga el dataset en tu libreta**

In [6]:
input = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

In [8]:
df = pd.read_csv(input, index_col = 0)
df.index.name = None #Eliminamos la columna Index ya que nuestro dataframe ya cuenta con su columna ID
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [23]:
#Copiamos la base de datos
ndf = df.copy()

In [24]:
#Cambiar los nombres de las columnas para un mayor entendimiento

ndf.columns = ["Given credit", "Gender", "Education", "Marital status","Age","Pay_Sep","Pay_Ago", "Pay_Jul", "Pay_Jun", "Pay_May", "Pay_Abr","Bill statement Sept", "Bill statement Aug", "Bill statement Jul", "Bill statement Jun", "Bill statement May",
               "Bill statement Apr", "Previous payment Sept", "Previous payment Aug", "Previous payment Jul", "Previous payment Jun",
               "Previous payment May", "Previous payment Apr", "Y"]

In [25]:
#comprobar nombre de columnas
ndf.head()

,Given credit,Gender,Education,Marital status,Age,Pay_Sep,Pay_Ago,Pay_Jul,Pay_Jun,Pay_May,...,Bill statement Jun,Bill statement May,Bill statement Apr,Previous payment Sept,Previous payment Aug,Previous payment Jul,Previous payment Jun,Previous payment May,Previous payment Apr,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

**2. Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()**

In [26]:
np.shape(ndf)

(30000, 24)

In [31]:
ndf.columns

Index(['Given credit', 'Gender', 'Education', 'Marital status', 'Age',
       'Pay_Sep', 'Pay_Ago', 'Pay_Jul', 'Pay_Jun', 'Pay_May', 'Pay_Abr',
       'Bill statement Sept', 'Bill statement Aug', 'Bill statement Jul',
       'Bill statement Jun', 'Bill statement May', 'Bill statement Apr',
       'Previous payment Sept', 'Previous payment Aug', 'Previous payment Jul',
       'Previous payment Jun', 'Previous payment May', 'Previous payment Apr',
       'Y'],
      dtype='object')

In [27]:
ndf.head()

,Given credit,Gender,Education,Marital status,Age,Pay_Sep,Pay_Ago,Pay_Jul,Pay_Jun,Pay_May,...,Bill statement Jun,Bill statement May,Bill statement Apr,Previous payment Sept,Previous payment Aug,Previous payment Jul,Previous payment Jun,Previous payment May,Previous payment Apr,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [28]:
ndf.dtypes

Given credit               int64
Gender                   float64
Education                float64
Marital status           float64
Age                      float64
Pay_Sep                  float64
Pay_Ago                  float64
Pay_Jul                  float64
Pay_Jun                  float64
Pay_May                  float64
Pay_Abr                  float64
Bill statement Sept      float64
Bill statement Aug       float64
Bill statement Jul       float64
Bill statement Jun       float64
Bill statement May       float64
Bill statement Apr       float64
Previous payment Sept    float64
Previous payment Aug     float64
Previous payment Jul     float64
Previous payment Jun     float64
Previous payment May     float64
Previous payment Apr     float64
Y                        float64
dtype: object

In [29]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Given credit           30000 non-null  int64
 1   Gender                 29999 non-null  float64
 2   Education              29998 non-null  float64
 3   Marital status         29998 non-null  float64
 4   Age                    29995 non-null  float64
 5   Pay_Sep                29997 non-null  float64
 6   Pay_Ago                29995 non-null  float64
 7   Pay_Jul                29993 non-null  float64
 8   Pay_Jun                29991 non-null  float64
 9   Pay_May                29984 non-null  float64
 10  Pay_Abr                29986 non-null  float64
 11  Bill statement Sept    29989 non-null  float64
 12  Bill statement Aug     29989 non-null  float64
 13  Bill statement Jul     29987 non-null  float64
 14  Bill statement Jun     29985 non-null  float64
 15  Bill statement May     29983 non-null  float64
 16  Bill statement Apr     29990 non-null  float64
 17  Previous payment Sept  29992 non-null  float64
 18  Previous payment Aug   29991 non-null  float64
 19  Previous payment Jul   29992 non-null  float64
 20  Previous payment Jun   29989 non-null  float64
 21  Previous payment May   29989 non-null  float64
 22  Previous payment Apr   29995 non-null  float64
 23  Y                      29997 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

In [20]:
#confirmamos si hay datos faltantes
df.isna().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

**3. Limpia los datos eliminando los registros nulos o rellena con la media de la columna**

In [34]:
#eliminamos los datos perdidos ya que no representan un numero importante para la muestra.

ndf_clean = ndf.dropna()
ndf_clean.isna().any()

Given credit             False
Gender                   False
Education                False
Marital status           False
Age                      False
Pay_Sep                  False
Pay_Ago                  False
Pay_Jul                  False
Pay_Jun                  False
Pay_May                  False
Pay_Abr                  False
Bill statement Sept      False
Bill statement Aug       False
Bill statement Jul       False
Bill statement Jun       False
Bill statement May       False
Bill statement Apr       False
Previous payment Sept    False
Previous payment Aug     False
Previous payment Jul     False
Previous payment Jun     False
Previous payment May     False
Previous payment Apr     False
Y                        False
dtype: bool

**4. Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión**

In [35]:
ndf_clean.describe()

,Given credit,Gender,Education,Marital status,Age,Pay_Sep,Pay_Ago,Pay_Jul,Pay_Jun,Pay_May,...,Bill statement Jun,Bill statement May,Bill statement Apr,Previous payment Sept,Previous payment Aug,Previous payment Jul,Previous payment Jun,Previous payment May,Previous payment Apr,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,1.132307,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

**5. Realiza el conteo de las variables categóricas**